# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
out/

# IntelliJ IDEA
.idea/*
#!.idea/misc.xml
#!.idea/vcs.xml
#!.idea/encodings.xml
#!.idea/modules.xml
#!.idea/scopes/
!.idea/jarRepositories.xml
!.idea/compiler.xml
!.idea/libraries/
## We rely on .idea/.gitignore for internal ignores, 
## but generally in this project we are ignoring most of .idea based on previous config.
## However, I will allow .idea to be entered so .idea/.gitignore works.
*.iml
*.ipr
*.iws

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Documentation
site/
